.banner {
  position: absolute;
  background-color: #ff6250;
  padding: 8px;
  width: 100%;
  animation: animate-in 0.15s cubic-bezier(0.165, 0.84, 0.44, 1) both;
  color: #fff;
  top: 0;
  height: 16px;
  text-align: center;
}
.banner p {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}
.banner a {
  color: #fff;
  text-decoration: underline;
}
