<style type="text/css">

  .img {
    width: 100vw;
    height: 100vh;
}

#cnt {
    position: relative;
}

#img0 {
    margin-left: 12px;
    margin-bottom: 8px;
    width: 44px;
}
@media not all and (max-width: 700px) {
    #img2 {
        position: absolute;
        left: 28px;
        top: 26px;
        width: 100%;
    }
}

@media all and (max-width: 700px) {
    #img2 {
        position: absolute;
        left: 12px;
        top: 14px;
        width: 94%;
    }
}
</style>
<div class="sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu', { context: 'sidebar' }) %>
  </ul>
</div>

<div id="hero" style="margin-top: 80px;">
  <div class="inner">

    <div class="center" style="text-align: center;">
      <h1>
        Welcome to Anima's Documentation
      </h1>
      <h2>
        Modern Designer & Developer Collaboration Workflow
      </h2>
      <p style="margin-top: 50px;">
        <div style="display: inline-flex; flex-direction: column;">
        <a class="button white" href="/v3/sketch/prototype">Sketch</a>
        </div>
        <div style="display: inline-flex; flex-direction: column;">
        <a class="button white" href="/v3/adobe-xd/getting-started/">Adobe XD</a>
        </div>
      </p>
    </div>
  </div>


<div id="footer" style="color: #7f8c8d;">
<p>Built with ❤️ &nbsp in NYC & TLV</p>
  Copyright &copy; 2016-<%- new Date().getFullYear() %> <a style="color: #4222f1;" href="https://www.animaapp.com">Anima Team</a> | Site powered by <a style="color: #4222f1;" href="https://hexo.io">Hexo.io</a> & <a style="color: #4222f1;" href="https://vuejs.org">Vue.js</a>
</div>

<script>
var topScrolled = false
window.addEventListener('scroll', function () {
  if (window.pageYOffset > 165 && !topScrolled) {
    topScrolled = true
    document.getElementById('mobile-bar').classList.remove('top')
  } else if (window.pageYOffset <= 165 && topScrolled) {
    topScrolled = false
    document.getElementById('mobile-bar').classList.add('top')
  }
})
</script>

<script>
(function () {

    function generateUUID() {
        var d = new Date().getTime();
        if (typeof performance !== 'undefined' && typeof performance.now === 'function') {
            d += performance.now(); //use high-precision timer if available
        }
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = (d + Math.random() * 16) % 16 | 0;
            d = Math.floor(d / 16);
            return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);
        });
    }

    function createCookie(name, value, days) {
        var expires;
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toGMTString();
        }
        else {
            expires = "";
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }

    // Read cookie
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) === ' ') {
                c = c.substring(1, c.length);
            }
            if (c.indexOf(nameEQ) === 0) {
                return c.substring(nameEQ.length, c.length);
            }
        }
        return null;
    }

    function param(object) {
        var encodedString = '';
        for (var prop in object) {
            if (object.hasOwnProperty(prop)) {
                if (encodedString.length > 0) {
                    encodedString += '&';
                }
                encodedString += encodeURI(prop + '=' + object[prop]);
            }
        }
        return encodedString;
    }

    function getVisitorId() {
        var visitorId = readCookie('ana_visitorId');
        if (!visitorId) {
            visitorId = generateUUID();
            createCookie('ana_visitorId', visitorId);
        }
        return visitorId;
    }

    window.trackEvent = function (eventAction) {

        var visitorId = getVisitorId();

        var page = '';
        if (document.getElementById('anPageName')) {
            page = document.getElementById('anPageName').value;
        }

        var params = {
            'eventCategory': 'General',
            'eventAction': eventAction,
            'url': encodeURIComponent(window.location.href),
            'host': window.location.hostname,
            'path': window.location.pathname,
            'page': page,
            'referrer': document.referrer,
            'uid': visitorId
        };

        var data = param(params);
        var http = new XMLHttpRequest();
        var url = "//api.animaapp.com/analytics/collect";
        http.open("POST", url, true);

        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        http.send(data);
    };

    window.submitted = function (event) {
        window.trackEvent('conversion');
    }

    window.trackEvent('pageview');
})();
</script>


