<style type="text/css">


@font-face{
    font-family: "Roslindale";
    src: url("../fonts/Roslindale-TextRegular.woff") format('woff');
    font-weight: normal;
  }

  @font-face{
    font-family: "Roslindale";
    src: url("../fonts/Roslindale-TextBold.woff") format('woff');
    font-weight: 700;
  }

  body {
    color: #3B3B3B !important;
    font-family: 'Roslindale';
  }
  
  .main-heading {
    color: #3B3B3B !important;
    font-size: 48px !important;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 58px;
    letter-spacing: 0.05em;
    margin-bottom: 90px !important;
    text-align: center;
  }

  .img {
    width: 100vw;
    height: 100vh;
  }

  .wrapper {
    text-align: center;
  }

  .wrapper ul {
    display: flex;
    padding: 0;
    /* For IE, the outcast */
    zoom: 1;
  }

  .wrapper li {
    list-style: none;
    padding-right: 1em;
  }

  .wrapper img {
    height: 35px;
  }

  .card {
    display: grid;
    text-align: left;
    height: 209px;
    padding: 25px 35px;
    margin: 0 auto 4em auto;
    max-width: 650px;
    line-height: 30px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 5px 5px;
    box-sizing: border-box;
    border-radius: 15px;
  }


  .card-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.05em;
    text-align: left;
  }

  li a:hover {
    color: #2c3e50;
  }

  a:link {
    text-decoration: none;
  }

  .social-links {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .social-links ul {
    display: flex;
    align-items: end;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .social-links ul li {
    list-style: none;
  }

  #footer {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
  }

</style>
<div class="sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu', { context: 'sidebar' }) %>
  </ul>
</div>

<div id="hero">
  <h1 class="main-heading">
    Welcome to Anima's Documentation
  </h1>
  <div class="inner">
    <div class="wrapper">
      <div class="col">

        <div class="card">
          <div class="card-title">Build</div>
          <div class="card-content">
            <p>Build high-fidelity prototypes with your favorite design tool.</p>
            <ul>
              <li id="sketch">
                <a href="/v3/sketch/getting-started">
                  <img
                    class="logo"
                    src="https://www.sketch.com/images/pages/press/sketch-press-kit/app-icons/sketch-mac-icon@2x.png"
                    height="100"
                    alt="Sketh Logo"
                  />
                </a>
              </li>
              <li id="figma">
                <a href="/v3/figma/getting-started">
                  <img
                    class="logo"
                    src="https://p46.f4.n0.cdn.getcloudapp.com/items/E0ubnBxL/figma_Logo%403x.png?v=02b3997b3efc0c1304d1b10b4ff3df3a"
                    height="100"
                    alt="Figma Logo"
                  />
                </a>
              </li>
              <li id="adobexd">
                <a href="/v3/adobe-xd/getting-started">
                  <img
                    class="logo"
                    src="https://anima-uploads.s3.amazonaws.com/projects/5c4c31e8f6ea64000c5740ad/releases/5e2a2fee592dee7a2550cfea/img/xd-coming-soon-page-adobexdccicon@2x.png"
                    height="100"
                    alt="Adobe XD Logo"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="card">
          <div class="card-title">Collaborate</div>
          <div class="card-content">
            <p><a href="https://docs.animaapp.com/v3/collaborate/play.html">Collaborate with your team and generate developer-friendly React and HTML code.</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="social-links">
      <ul>
        <li>
          <a href="https://www.youtube.com/c/Animaapp">
            <img
              class="logo"
              src="/images/icons/youtube.svg"
              height="30"
              alt="Youtube Logo"
            />
          </a>
        </li>
        <li>
          <a href="https://dribbble.com/animaapp">
            <img
              class="logo"
              src="/images/icons/dribbble.svg"
              height="30"
              alt="Dribbble Logo"
            />
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/animaapp">
            <img
              class="logo"
              src="/images/icons/facebook.svg"
              height="30"
              alt="Facebook Logo"
            />
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/anima-app">
            <img
              class="logo"
              src="/images/icons/linkedin.svg"
              height="30"
              alt="Linkedin Logo"
            />
          </a>
        </li>
        <li>
          <a href="https://medium.com/@AnimaApp">
            <img
              class="logo"
              src="/images/icons/medium.svg"
              height="30"
              alt="Medium Logo"
            />
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/animaapp">
            <img
              class="logo"
              src="/images/icons/instagram.svg"
              height="30"
              alt="Instagram Logo"
            />
          </a>
        </li>
        <li>
          <a href="https://twitter.com/animaapp">
            <img
              class="logo"
              src="/images/icons/twitter.svg"
              height="30"
              alt="Twitter Logo"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div id="footer" style="color: #7f8c8d;">
    <p>Built with ❤️ &nbsp in NYC & TLV</p>
    Copyright &copy; 2016-<%- new Date().getFullYear() %>
    <a style="color: #4222f1;" href="https://www.animaapp.com">Anima Team</a> |
    Site powered by
    <a style="color: #4222f1;" href="https://hexo.io">Hexo.io</a> &
    <a style="color: #4222f1;" href="https://vuejs.org">Vue.js</a>
  </div>

  <script>
    var topScrolled = false;
    window.addEventListener("scroll", function () {
      if (window.pageYOffset > 165 && !topScrolled) {
        topScrolled = true;
        document.getElementById("mobile-bar").classList.remove("top");
      } else if (window.pageYOffset <= 165 && topScrolled) {
        topScrolled = false;
        document.getElementById("mobile-bar").classList.add("top");
      }
    });
  </script>

  <script>
    (function () {
      function generateUUID() {
        var d = new Date().getTime();
        if (
          typeof performance !== "undefined" &&
          typeof performance.now === "function"
        ) {
          d += performance.now(); //use high-precision timer if available
        }
        return "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(
          /[xy]/g,
          function (c) {
            var r = (d + Math.random() * 16) % 16 | 0;
            d = Math.floor(d / 16);
            return (c === "x" ? r : (r & 0x3) | 0x8).toString(16);
          }
        );
      }

      function createCookie(name, value, days) {
        var expires;
        if (days) {
          var date = new Date();
          date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000);
          expires = "; expires=" + date.toGMTString();
        } else {
          expires = "";
        }
        document.cookie = name + "=" + value + expires + "; path=/";
      }

      // Read cookie
      function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(";");
        for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) === " ") {
            c = c.substring(1, c.length);
          }
          if (c.indexOf(nameEQ) === 0) {
            return c.substring(nameEQ.length, c.length);
          }
        }
        return null;
      }

      function param(object) {
        var encodedString = "";
        for (var prop in object) {
          if (object.hasOwnProperty(prop)) {
            if (encodedString.length > 0) {
              encodedString += "&";
            }
            encodedString += encodeURI(prop + "=" + object[prop]);
          }
        }
        return encodedString;
      }

      function getVisitorId() {
        var visitorId = readCookie("ana_visitorId");
        if (!visitorId) {
          visitorId = generateUUID();
          createCookie("ana_visitorId", visitorId);
        }
        return visitorId;
      }

      window.trackEvent = function (eventAction) {
        var visitorId = getVisitorId();

        var page = "";
        if (document.getElementById("anPageName")) {
          page = document.getElementById("anPageName").value;
        }

        var params = {
          eventCategory: "General",
          eventAction: eventAction,
          url: encodeURIComponent(window.location.href),
          host: window.location.hostname,
          path: window.location.pathname,
          page: page,
          referrer: document.referrer,
          uid: visitorId,
        };

        var data = param(params);
        var http = new XMLHttpRequest();
        var url = "//api.animaapp.com/analytics/collect";
        http.open("POST", url, true);

        http.setRequestHeader(
          "Content-type",
          "application/x-www-form-urlencoded"
        );
        http.send(data);
      };

      window.submitted = function (event) {
        window.trackEvent("conversion");
      };

      window.trackEvent("pageview");
    })();
  </script>
</div>
