
<div id="header">
  <a id="logo" href="https://docs.animaapp.com/">
    <img src="/images/logo.png">
    <span>Anima Documentation</span>
  </a>
  <ul id="nav">
    <%- partial('partials/main_menu', { context: 'nav' }) %>
  </ul>
</div>
