<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>
<li><a href="/docs/v1/guide/" class="nav-link<%- page.path.match(/guide/) ? ' current' : '' %>">Auto-Layout</a></li>
<li><a href="/docs/v1/launchpad/" class="nav-link<%- page.path.match(/launchpad/) ? ' current' : '' %>">Launchpad</a></li>
<!--<li><a href="/docs/v1/examples/" class="nav-link<%- page.path.match(/examples/) ? ' current' : '' %>">Examples</a></li>-->
